@media (min-width: 0px) and (max-width: 768px) {
  #fabSection {
    display: block;
  }
}

@media (min-width: 769px) {
  #fabSection {
    display: none;
  }
}

@media (min-width: 0px) and (max-width: 768px) {
  #createButton {
    display: none;
  }
}

@media (min-width: 769px) {
  #createButton {
    display: inline-block;
  }
}